.block {
    display: block;
}

.block--center {
    margin-left: auto;
    margin-right: auto;
}

.absl {
    display: absolute;
}

.absl--top {
    top: 0;
}

.absl--left {
    left: 0;
}

.absl--right {
    right: 0;
}

.absl--bottom {
    bottom: 0;
}

.absl--center {
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}