$lg: 1180px;
$md: 980px;
$sm: 769px;
$xs: 489px;
@mixin lg {
     @media only screen and (min-width: #{$lg}){
        @content;
    }
}
@mixin md {
     @media only screen and (min-width: #{$md}) and (max-width: #{$lg - 1px}){
        @content;
    }
}
@mixin sm {
     @media only screen and (min-width: #{$sm}) and (max-width: #{$md - 1px}){
        @content;
    }
}
@mixin xs {
     @media only screen and (min-width: #{$xs}) and (max-width: #{$sm - 1px}){
        @content;
    }
}
@mixin exs {
     @media only screen and (max-width: #{$xs - 1px}){
        @content;
    }
}
