$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$turquoise: #26bec9;
$turquoise-light: #6cf1fc;
$turquoise-dark: #008d98;

$link: $turquoise;
$body-background-color: #F5F5F6;
$background-color: #E1E2E1;

$size-1: 2.5rem;
$size-2: 2.25rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.2rem;
$size-6: 0.9rem;
$size-7: 0.7rem;

@import "bulma/bulma";
